extends layout.jade
block titulo
      title Certificaciones
block certificacion
      
          h3.center.orange-text Cursos
          .row
             .col.s12.m7
                  .card
                      .card-image
                        img.img-300(src="img/certificacion/desarrollo-web-activate.png", alt="")
                      .card-content
                                    p Formacion virtual activate Universidad de alicante
                      .card-action
                                    p España,Noviembre 2015 
             .col.s12.m7
                  .card
                      .card-image
                        img.img-300(src="img/certificacion/php.jpg", alt="")
                      .card-content
                         p Curso Corto Sena Fontibon
                      .card-action
                         p Colombia,Septiembre 2009        
